@model IEnumerable<Order>

<div class="card shadow border-1 my-4">
    <div class="card-header py-2">

        <h1>Order List</h1>

    </div>

    <div class="card-body p-4">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Order Date</th>
                    <th>Customer Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Order Total</th>
                    <th>Order Status</th>

                </tr>

            </thead>

            <tbody>
                @foreach(var eachOrder in Model)
                {
                    <tr>
                        <td>@eachOrder.OrderId</td>
                        <td>@eachOrder.OrderDate</td>
                        <td>@eachOrder.Name</td>
                        <td>@eachOrder.ApplicationUser.Email</td>
                        <td>@eachOrder.Phone</td>
                        <td>@eachOrder.OrderTotal</td>
                        <td>@eachOrder.OrderStatus</td>

                        <td>
                            <a asp-controller="Order" asp-action="Details" asp-route-id="@eachOrder.OrderId">Details</a>
                        </td>

                    </tr>
                }



            </tbody>


        </table>


    </div>


</div>
